# Скопируйте в public_html сайта как .htaccess
# Замените LOGIN и gdefazan.ru на свои (путь из панели SprintHost → Сайты).

SetEnv GHOST_NODE_VERSION_CHECK false
SetEnv NODE_ENV production
PassengerNodejs /opt/rh/rh-nodejs22/root/usr/bin/node
PassengerStartupFile server.js
PassengerResolveSymlinksInDocumentRoot on
Require all granted
PassengerAppType node
PassengerAppRoot /home/LOGIN/domains/gdefazan.ru/public_html
Options -MultiViews
